```{=html}
 <div id="articlesCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" data-bs-wrap="true">
  
<!-- Indicadores personalizados -->
  <div class="carousel-indicators">
    <% items.forEach((item, index) => { %>
      <button type="button" data-bs-target="#articlesCarousel" data-bs-slide-to="<%= index %>"
            class="<%= index === 0 ? 'active rounded-circle' : 'rounded-circle' %>"
            aria-current="<%= index === 0 ? 'true' : 'false' %>"
            aria-label="Slide <%= index+1 %>"></button>
    <% }) %>
 </div>


  <!-- Slides -->
  <div class="carousel-inner">
    <% items.forEach((item, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <a href="<%= item.link %>">
          <img src="<%= item.image %>" class="d-block w-100" alt="<%= item.title %>">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= item.title %></h5>
        </div>
      </div>
    <% }) %>
  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#articlesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#articlesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


```